<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/leaflet/dist/leaflet.js"></script>
    <script src="./node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="./node_modules/leaflet/dist/leaflet.css" rel="stylesheet">
    <script src="./js/geoTODO.js"></script>
    <title>My first AngularJS and Leaflet map</title>
</head>

<body ng-controller="TheController as theController">
    <div class="container">
        <h1>My first Angular and Leaftlet map</h1>
        <leaflet tiles="tiles" lf-center="castellon" markers="markers" event-broadcast="events" height="480px" width="100%"></leaflet>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>TODO list</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>
                                Due date
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="marker in markers">
                            <td>{{marker.message}}</td>
                            <td>{{marker.dueDate | date: "dd/MM/yyyy (hh:mm)"}}</td>
                            <td>
                                <button class="btn btn-success" ng-click="showInfo($index)" data-toggle="modal" data-target="#myModal">Info</button>
                            </td>
                            <td>
                                <button ng-click="updateCurrentMarker($index)" type="button" class="btn btn-info">Show</button>
                            </td>
                            <td>
                                <button ng-click="removeMark($index)" type="button" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    <h4 class="modal-title" id="myModalLabel">Info</h4>
                </div>
                <div class="modal-body">
                    <p>Change the item here:</p>
                    <p>Message:
                        <input type="text" ng-model="currentMarker.message"></p>
                    <p>Due date:
                        <input type="datetime-local" ng-model="currentMarker.dueDate"></p>
                    <p>Adrres: {{currentMarker.postalAddress}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
